$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: orange;
/*$navbarLinkColor: white;*/
$navbarBackground: white;

@import 'bootstrap';

@import 'bootstrap-responsive';

span.brand {
	font-family:cursive;
	color:#e88121;
}

.navbar-inner {
	/*remove default shadow from nav bar*/
	@include box-shadow(none !important);
	border: 0;
}

ul li {
	margin-top: 10px;
}

.main-body {
	padding-left: 30px;
}

div.pic-body {
	width: 450px;
}

div.pic-body ul li {
	list-style: none;
}

div.pic-body ul li div{
	display:inline-block;
}

img {
	width:600px;
}

footer p {
	padding-left: 30px;
	font-size: 12px;
}