$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: orange;
/*$navbarLinkColor: white;*/
$navbarBackground: white;

@import 'bootstrap';

@import 'bootstrap-responsive';


.navbar-inner {
	/*remove default shadow from nav bar*/
	@include box-shadow(none !important);
	border: 0;
}

.main-body {
	padding-left: 30px;
}

.pic-body {
	display: inline-block;
	width: 500px;
	position: absolue;
}

#show-pic {
	margin-left: auto;
	margin-right: auto;
}

img {
	width:600px;
}

footer p {
	padding-left: 30px;
	font-size: 12px;
}